/*Background colour of website*/
body{
background-color: #DDD4C8;
}


/*Navigation Bar*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #0D1321;
    overflow: hidden;
}

/* Styling the links inside the navigation bar */
.navbar a {
    float: left;
    color: #C5D86D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 50px;
}

/* Changing the colour of links on hover */
.navbar a:hover {
    background-color: #86615C;
    color: black;
}

 /*Add a colour to the active link*/
.navbar a.active {
    background-color: #AFE0CE;
    color: white;
}


.CV {
    height: 100%;
    margin: 0;
    padding: 10px;
    padding-left: 200px;
    width: 100%;
}

.CV {
    display: table;
}

.CV {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

p{
margin: 0;
padding: 0;
max-width: 1000px;
font-size: large;
color: #8B2635;
}

h3{
  color: #8B2635;
}


ul {
  font-size: large;
  color: #8B2635;
}

li{
  color: #5F464B;
  font-size: large;
}
