/*Background colour of website*/
body{
background-color: #DDD4C8;
}


/*Navigation Bar*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #0D1321;
    overflow: hidden;
}

/* Styling the links inside the navigation bar */
.navbar a {
    float: left;
    color: #C5D86D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 50px;
}

/* Changing the colour of links on hover */
.navbar a:hover {
    background-color: #86615C;
    color: black;
}

 /*Add a colour to the active link*/
.navbar a.active {
    background-color: #AFE0CE;
    color: white;
}

.TwitterFeed{
  width: 20%;
}
#twitter-widget-6{
      width:400px;
    }
p{
  font-size: x-large;
  color: #8B2635;
}

.Snapchat {

  padding-left: 50px;
  padding-top: -10500px;
  text-align: center;
}

div.Snapchat {
  position: relative;
    margin-right: 400px;
  float: right;

}


div.Snapchat img {
    width: 80%;

}

div.desc {
    padding: 10px;
    text-align: center;
    color: #2E3532;
    font-size: large;
}
